/* layout */
body {
    font-family: 'Patua One';
    text-align: center;
}

main img {
    width: 100%;
}

/* base styles */
hr {
    border-top: 1px solid #848382;
    margin: 20px 20px 0 20px;
  }


/* Media queries for different screen sizes */

@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    
}