/* layout */
body {
    font-family: 'Patua One';
    text-align: center;
}

main img {
    padding-top: 2em;
    width: 100%;
}

header {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

header,
footer {
    background-color: #bdb19a;
}

header img {
    margin-top: 3em;
    margin-bottom: 1.5em;
    width: 80%;
    max-width: 90%;
}

.name {
    float: left;
}

.footernav {
    float: right;
    margin-top: 1em;
}

.largerscreens {
    display: none;
}

/* base styles */
main {
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: blue;
}

h1 {
    padding-top: .5em;
    padding-bottom: 1.5em;
    margin: 0;
}

main h2 {
    font-size: 2em;
}

h2,
h3 {
    padding-top: 1em;
}

h1,
h2,
h3 {
    letter-spacing: .05em;
}

footer h2 {
    margin-top: 2em;
}

h1,
footer h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

hr {
    border-top: 1px solid #848382;
    margin: 20px 20px 0 20px;
}

/* nav */
header a,
header a:hover {
    display: block;
    background-color: white;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

p,
header nav,
.footernav {
    padding-left: 1em;
    padding-right: 1em;
}

/* clearfix for fixing colapsed containers*/
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* Media queries for different screen sizes */

@media (min-width: 768px) {

    /* header stylings */
    header {
        padding-bottom: 50px;
    }

    header li {
        display: inline-block;
        font-size: 1.5em;
    }

    header a,
    header a:hover {
        margin: 0;
        padding: 0 50px;
        background-color: inherit;
    }

    header a:hover {
        color: blue;
    }

    header img,
    header p {
        width: 50%;
        margin-top: 75px;
    }

    header img {
        float: right;
    }

    header p {
        text-align: left;
        font-size: 1.5em;
    }

    header img,
    p {
        padding-left: 1em;
        padding-right: 1em;
    }

/* main stylings */
    .col {
        width: 50%;
        float: left;
        padding-left: 1em;
        padding-right: 1em;
        box-sizing: border-box;
    }

    /* footer stylings */
    footer li {
        float: left;
    }
    
    .smallscreens {
        display: none;
    }

    .largerscreens {
        display: block;
        padding-left: 2em;
    }
}

@media (min-width: 1024px) {}