/* layout */
body {
    font-family: 'Patua One';
    text-align: center;
}

main img {
    width: 100%;
}

header,
footer {
    background-color: #bdb19a;
}

/* base styles */
h1,
footer h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

hr {
    border-top: 1px solid #848382;
    margin: 20px 20px 0 20px;
  }

  /* nav */
  header a {
      display: block;
      background-color: white;
      margin-bottom: 5px;
      padding-top: 15px;
      padding-bottom: 15px;
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
  }

/* Media queries for different screen sizes */

@media (min-width: 768px) {
    
    /* clearfix for fixing colapsed containers*/
    .clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}

@media (min-width: 1024px) {
    
}